{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Logged out" %}{% endblock %}

{% block content %}
<h3>{% trans "Successfully logged out" %}.</h3>
<a href="{% url 'auth_login'%}">Iniciar Sesión</a>
{% endblock %}
