{% extends 'adminlte/base.html' %}
{% block title %}Album{% endblock %}
{% block content %}
    <div class="container">
        {% block section %}
            <h1>Bienvenid@!</h1>
        {% endblock section %}
    </div>

    <div class="container">
        {% block maincontent %}
        <a href="{% url 'auth_login'%}">Iniciar Sesión</a>

        <input type="text"  id="pCedula" value="id_cedula">
        <a href="{% url 'buscar-empleado' 1234%}">buscar!</a>
    <!----> 
    <button type="submit"></button>

        {% endblock maincontent %}
    </div>
</form>

{% endblock %}