{% extends 'base.html' %}

{% load static %}

{% block section %}


<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


        <div class="container" style="width: 95%; margin-right: 20%" >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{object.nombres}}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="{% static object.foto.url %}" class="img-circle img-responsive"> </div>
                
                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 "> 
                    <table class="table">
                        <thead>
                          <tr>
               
                            <th scope="col">Ingreso</th>
                            <th scope="col">Salida</th>
                          
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                              {% for gestion in object.gestion_set.all %}
                   
                         
                            <td>{{gestion.horaEntrada}}</td>
                            <td>{{gestion.horaSalida}}</td>
              

                          </tr>
                          {%endfor%}
                        </tbody>
                        </table>
               
        
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a  data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="{% url 'empleado-modificar' object.id %}" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a  href="{% url 'empleado-eliminar' object.id %}" data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                       
                          </span>
                    </div>
            
          </div>
        </div>
      </div>
    </div>

    <style type="text/css">
    .user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}
    </style>

{% endblock section %}

{% block maincontent %}

{% endblock maincontent %} 
