{% extends 'base.html' %}

{% block maincontent %}
    <form action="" method="post">{% csrf_token %}
        <h3>Eliminar a "{{ object }}"?</h3>
        <input class="btn btn-success" type="submit" value="Confirmar" />
        <a type="button" class="btn btn-danger" href="{% url 'empleado-list' %}">Cancel</a>
    </form>
{% endblock maincontent %}