{% extends 'base.html' %}
{% block maincontent %}
{% block form %}
    <form method="post" enctype=multipart/form-data>
        {% csrf_token %}
       <div class="form-group">
                    <label for="exampleInputEmail1">{{ form.as_p }}</label>
        
      
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class='btn' href="{% url 'empleado-list' %}">Cancelar</a>
    </form>

    {% endblock %}
{% endblock maincontent%}