
{% extends 'base.html' %}
{% load static %}
<div class="container">
    {% block section %}

    <section class="content-header">
         <h1>Empleados <br>
    <small>Gestionar empleados</small>
</h1>
<br>
{% if perms.empleado.add_empleado %}

<a href="{% url 'crear-empleado'%}"><img src="https://cdn3.iconfinder.com/data/icons/ios-edge-glyph-1/25/Add-Users-512.png"  style="width:60px;height:60px">
</a>


{% endif %}

</section>
    <br>
{% endblock section %}
{% block maincontent %}
<div class="from-controler" style="width: 95%; ">
    {% for p in object_list  %}
    <ul class="list-group">
        <li class="list-group-item"><h4>{{p}}</h4> 
            <hr>
            
            <img src="{% static p.foto.url %}" style="width:90px;height:90px" />
            <hr>
            <a href="{% url 'empleado-detalle' p.id %}"><h4>Ver Detalles</h4></a> 
            
     
        </li>
    </ul>
    {% endfor %}
</div>

{% endblock maincontent %}