
{% extends 'base.html' %}
{% load static %}

    {% block section %}

    
{% endblock section %}
{% block maincontent %}
<div class="from-controler" style="width: 95%; ">

    <ul class="list-group">

            <hr>
            <ul>
            {% for p in object_list %}
            <li>{{ p.horaEntrada }}</li>
              {% endfor %}
    </ul>
            <hr>
       
            
     
        </li>
    </ul>

</div>

{% endblock maincontent %}