{% extends 'base.html' %}
{% block maincontent %}
{% block form %}
    <form method="post" enctype=multipart/form-data>
        {% csrf_token %}
       <div class="form-group">
                {{ form.as_p }}
            {{form.horaEntrada}}
      
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a class='btn' href="{% url 'empleado-list' %}">Cancelar</a>
    </form>
    {{object.nombres}}
{{object.horaEntrada}}

    {% endblock %}
{% endblock maincontent%}